{% extends 'papers/base.html' %}

{% load i18n %}

{% block header %}
    <h1>{% trans 'Login' %}</h1>
{% endblock %}

{% block content %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>
                {% blocktrans trimmed %}
                    Your account doesn't have access to this page.
                    To proceed, please login with an account that has access.
                {% endblocktrans %}
            </p>
        {% else %}
            <p>
                {% trans "Please login to see this page." %}
            </p>
        {% endif %}
    {% endif %}

    <form class="pure-form pure-form-aligned" method="post">
        {% csrf_token %}

        {% if form.errors %}
            <div class="pure-controls">
                <p class="form-error">
                    {% trans "Your username and password didn't match. Please try again." %}
                </p>
            </div>
        {% endif %}

        {% include 'includes/form.html' %}

        <div class="pure-controls">
            <input class="pure-button pure-button-primary" type="submit" value="{% trans 'Login' %}">
            <input type="hidden" name="next" value="{{ next }}">
            <p>
                <a class="pure-button" href="{% url 'register' %}">{% trans 'Register' %}</a>
                <a class="pure-button" href="{% url 'password_reset' %}">{% trans 'Lost password?' %}</a>
            </p>
        </div>
    </form>
{% endblock %}
