{% extends 'papers/base.html' %}

{% load i18n %}

{% block header %}
    <h1>{% trans 'Password reset sent' %}</h1>
{% endblock %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            We've emailed you instructions for setting your password,
            if an account exists with the email you entered.
            You should receive them shortly.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            If you don't receive an email,
            please make sure you've entered the address you registered with,
            and check your spam folder.
        {% endblocktrans %}
    </p>
    <a class="pure-button pure-button-primary" href="{% url 'papers:paper-list' %}">
        {% trans 'Back' %}
    </a>
{% endblock %}
