{% extends 'papers/base.html' %}

{% load i18n %}

{% block header %}
    <h1>{% trans 'Password change succesful' %}</h1>
{% endblock %}

{% block content %}
    <p>
        {% trans 'Your password was changed.' %}
    </p>
    <a class="pure-button pure-button-primary" href="{% url 'user-detail' user.id %}">
        {% trans 'Back' %}
    </a>
{% endblock %}
