{% extends 'papers/base.html' %}

{% load i18n %}

{% block header %}
    <h1>{% trans 'Password set' %}</h1>
{% endblock %}

{% block content %}
    <p>
        {% url 'login' as login_url %}
        {% blocktrans trimmed %}
            Your password has been set.
            You may go ahead and <a href="{{  login_url }}">log in</a> now.
        {% endblocktrans %}
    </p>
{% endblock %}
