{% extends 'papers/base.html' %}

{% load i18n %}

{% block header %}
    <h1>{% trans 'Reset password' %}</h1>
{% endblock %}

{% block content %}
    <form class="pure-form pure-form-aligned" method="post">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="pure-controls">
            <button class="pure-button pure-button-primary" type="submit">
                {% trans "Submit" %}
            </button>
            <a class="pure-button" href="{% url 'login' %}">
                {% trans 'Back' %}
            </a>
        </div>
    </form>
{% endblock %}
