{% extends 'papers/base.html' %}

{% load i18n %}

{% block header %}
    {% if user.is_authenticated %}
        <h1>{% trans 'User details' %}</h1>
    {% else %}
        <h1>{% trans 'Registration' %}</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <form class="pure-form pure-form-aligned" method="post">
        {% csrf_token %}

        <h2>{%trans 'User information' %}</h2>
        {% include 'includes/form.html' with form=user_form %}

        <h2>{%trans 'Author information' %}</h2>
        {% include 'includes/form.html' with form=author_form %}

        <div class="pure-controls">
            <button class="pure-button pure-button-primary" type="submit">
                {% trans 'Submit' %}
            </button>
            {% if user.is_authenticated %}
                {% url 'user-detail' pk=user.id as back_url %}
            {% else %}
                {% url 'papers:paper-list' as back_url %}
            {% endif %}
            <a class="pure-button" href="{{ back_url }}">
                {% trans 'Back' %}
            </a>
        </div>
    </form>
{% endblock %}
