{% extends 'papers/base.html' %}

{% load i18n %}
{% load custom_tags %}

{% block header %}
    <h1>{% trans 'Author details' %}</h1>
{% endblock %}

{% block content %}
    <div>
        {% render_fields author fields %}
    </div>

    <a class="pure-button" href="{{ request.META.HTTP_REFERER }}">
        {% trans "Back" %}
    </a>
{% endblock %}
