{% extends 'papers/base.html' %}

{% load i18n %}

{% block header %}
    <h1>{% trans 'Delete paper' %}</h1>
{% endblock %}

{% block content %}
    <form class="pure-form" method="post">
        {% csrf_token %}
        <p>
            {% blocktrans %}
                Are you sure you want to delete "{{ object }}"?
            {% endblocktrans %}
        </p>
        <input class="pure-button button-delete" type="submit" value="{% trans 'Confirm' %}">
        <a class="pure-button" href="{% url 'papers:paper-list' %}">
            {% trans 'Back' %}
        </a>
    </form>
{% endblock %}
