{% extends 'papers/base.html' %}

{% load i18n %}
{% load static %}

{% block header %}
    <h1>
        {% if paper_form.instance.id %}
            {% trans 'Edit paper' %}
        {% else %}
            {% trans 'Create paper' %}
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    <form class="pure-form pure-form-aligned" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="form-error">{{ paper_form.non_field_errors }}</p>

        {% include 'includes/form_field.html' with field=paper_form.title %}
        {% include 'includes/form_field.html' with field=paper_form.abstract %}
        {% include 'includes/form_field.html' with field=paper_form.keywords %}

        {{ author_formset.management_form }}

        <div id="formset">
            <p class="pure-controls">
                {% blocktrans %}
                    {{ first_author }} will be the first author
                {% endblocktrans %}
            </p>

            <div class="pure-control-group">
                <label>{% trans 'Other authors' %}</label>
            </div>

            {% for form in author_formset.forms %}
                <div class="author-form">
                    <p class="form-error">{{ form.non_field_errors }}</p>
                    {% include 'includes/form.html' %}
                </div>
            {% endfor %}
        </div>

        {% include 'includes/form_field.html' with field=paper_form.file %}

        <div class="pure-controls">
            <button class="pure-button pure-button-primary" type="submit">
                {% trans 'Submit' %}
            </button>

            {% if paper_form.instance.id %}
                {% url 'papers:paper-detail' pk=paper_form.instance.id as back_url %}
            {% else %}
                {% url 'papers:paper-list' as back_url %}
            {% endif %}

            <a class="pure-button" href="{{ back_url }}">
                {% trans 'Back' %}
            </a>
        </div>
    </form>

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>

    <script>
        $('.author-form').formset({
            'prefix': 'author_formset',
            'addText': '{% trans "Add author" %}',
            'deleteText': '{% trans "Delete author" %}',
            'addCssClass': 'pure-button button-add',
            'deleteCssClass': 'pure-button button-delete delete-author'
        });
    </script>
{% endblock %}
