{% extends 'papers/base.html' %}

{% load i18n %}
{% load custom_tags %}

{% block header %}
    <h1>{% trans 'Papers application' %}</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>{% trans 'My papers' %}</h2>

        {% if paper_list %}
            <table class="pure-table">
                <thead>
                    <tr>
                        {% with paper=paper_list|first %}
                            <th class="field-label">
                                {{ paper|get_field_verbose_name:'title'}}
                            </th>
                            <th class="field-label">
                                {% trans 'Edit' %}
                            </th>
                            <th class="field-label">
                                {{ paper|get_field_verbose_name:'file'}}
                            </th>
                        {% endwith %}
                    </tr>
                </thead>

                <tbody>
                    {% for paper in paper_list %}
                        <tr>
                            <td>
                                <a href="{% url 'papers:paper-detail' paper.id %}">
                                    {{ paper.title }}
                                </a>
                            </td>

                            <td>
                                <a class="pure-button" href="{% url 'papers:paper-update' paper.id %}">
                                    {% trans 'Edit' %}
                                </a>
                            </td>

                            <td>
                                <a class="pure-button" href="{% url 'papers:paper-download' paper.id  %}">
                                    {% trans 'Download' %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans 'No papers are available.' %}</p>
        {% endif %}

        <p>
            <a href="{% url 'papers:paper-create' %}" class="pure-button pure-button-primary">
                {% trans 'New paper' %}
            </a>
        </p>
        <p>
            {% url 'user-detail' user.id as user_url  %}
            {% blocktrans %}
                Logged in as <a href="{{ user_url }}">{{ user }}</a>
            {% endblocktrans %}
        </p>
        {% if user.is_staff %}
            <p>
                <a class="pure-button" href="{% url 'admin:index' %}">
                    {% trans 'Admin page' %}
                </a>
            </p>
        {% endif %}
        <p>
            <a class="pure-button" href="{% url 'logout' %}">
                {% trans 'Logout' %}
            </a>
        </p>
    {% else %}
        <p>
            <a class="pure-button pure-button-primary" href="{% url 'login' %}">
                {% trans 'Login' %}
            </a>
        </p>
        <p>
            <a class="pure-button" href="{% url 'register' %}">
                {% trans 'Register' %}
            </a>
        </p>
    {% endif %}
{% endblock %}
