{% extends 'papers/base.html' %}

{% load i18n %}
{% load l10n %}
{% load custom_tags %}

{% block content %}
    <h1>{{ paper.title }}</h1>

    <div>
        <p>
            <span class="field-label">
                {{ paper|get_field_verbose_name:'created_at' }}:
            </span>
            {{ paper.created_at }}
        </p>

        <p>
            <span class="field-label">
                {{ paper|get_field_verbose_name:'modified_at' }}:
            </span>
            {{ paper.modified_at }}
        </p>

        <p>
            <span class="field-label">
                {{ paper|get_field_verbose_name:'abstract' }}:
            </span>
            {{ paper.abstract|linebreaksbr }}
        </p>

        <p>
            <span class="field-label">
                {{ paper|get_field_verbose_name:'authors' }}:
            </span>
        </p>
        <ul>
            {% for author in paper.authors.all %}
                <li>
                    <a href="{{ author.get_absolute_url }}">
                        {{ author }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <p>
            <span class="field-label">
                {{ paper|get_field_verbose_name:'keywords' }}:
            </span>
            {{ paper.keywords.all|join:", " }}
        </p>

        <p>
            <span class="field-label">
                {{ paper|get_field_verbose_name:'file' }}:
            </span>
            <a class="pure-button" href="{% url 'papers:paper-download' paper.id  %}">
                {% trans "Download" %}
            </a>
        </p>

        <p>
            <a class="pure-button pure-button-primary" href="{% url 'papers:paper-update' pk=paper.id %}">
                {% trans "Edit" %}
            </a>
            <a class="pure-button button-delete" href="{% url 'papers:paper-delete' pk=paper.id %}">
                {% trans "Delete" %}
            </a>
        </p>
    </div>

    <a class="pure-button" href="{% url 'papers:paper-list' %}">
        {% trans 'Back' %}
    </a>
{% endblock %}
