{% extends 'papers/base.html' %}

{% load i18n %}
{% load custom_tags %}

{% block header %}
    <h1>{% trans 'User details' %}</h1>
{% endblock %}

{% block content %}
    <div>
        <h2>{%trans 'User information' %}</h2>
        {% render_fields user fields.user %}
        <h2>{%trans 'Author information' %}</h2>
        {% render_fields user.author fields.author %}
    </div>

    <p>
        <a class="pure-button pure-button-primary" href="{% url 'user-update' pk=user.id %}">
            {% trans "Edit" %}
        </a>
        <a class="pure-button" href="{% url 'password_change' %}">
            {% trans "Change password" %}
        </a>
        <a class="pure-button" href="{% url 'papers:paper-list' %}">
            {% trans "Back" %}
        </a>
    </p>
{% endblock %}
