.field-label {
    font-weight: bold;
    text-transform: capitalize;
}

.field-required:after {
    content: " *";
}

.field-container {
    display: inline-block;
}

.main {
    max-width: 48em;
    margin: 0 auto;
    padding: 0 2em 2em;
}

.content {
    padding-top: 1em;
}

.header {
    text-align: center;
}

.form-error {
    color: red;
    margin: 0 0 .5em;
}

.delete-author {
    margin-bottom: .5em;
}

.button-add,
.button-delete {
    color: #fff;
}

.button-add {
    background: rgb(66, 184, 221);
}

.button-delete {
    background: rgb(202, 60, 60);
}

.hidden-field {
    display: none;
}

label[for="id_DELETE"] {
    visibility: hidden;
}
