<div class="pure-control-group {% if field.is_hidden %}hidden-field{% endif %}">
    <label class="field-label{% if field.field.required %}
            field-required
        {% endif %}" for="id_{{ field.name }}">
        {{ field.label }}
    </label>
    <div class="field-container">
        {% for error in field.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        {{ field }}
    </div>
    {% if field.help_text %}
        <span class="pure-form-message-inline">{{ field.help_text }}</span>
    {% endif %}
</div>
